Homepage!
(Single page app?)

Things to display:


if user not in session...
Login/Register button

{% if not user %}

Please log in or sign up!
<br>
<a href="/login"><button type="logInButton">Log In</button></a>/
<a href="/register"><button type="registerButton">Register</button></a>


else: (user in session, someone is logged in)
User picture
Number of big fish caught / total big fish available
log out button


List of fish! Think about how to do this
Information displayed: Display weather and time requirements & bait type for now
Eventually: Display how long (from current irl time) the window is open in, and for how long


Use Fishing hole to find location, location to find world.