"Create an account with Angler Timetable to manage your personalized fish list!"

<form action='/register', method='POST'>

    <div class='register-field'>First Name (max 16 chars): </div>
    <input type='text' name='reg-fname'>
    <br>
    <div class='register-field'>Last Name (max 16 chars): </div>
    <input type='text' name='reg-lname'>
    <br>
    <div class='register-field'>Username (must be alphanumeric): </div>
    <input type='text' name='reg-username'>
    <br>
    <div class='register-field'>Email: </div>
    <input type='text' name='reg-email'>
    <br>
    <div class='register-field'>Password: </div>
    <input type='password' name='reg-pw'>
    <br>
    <br>
    <input class='sub-btn' type='submit'>
</form>
